<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>基本列表</title>
    <script src="../js/vue.js"></script>
    <!-- <script src="../js/vue.min.js"></script> -->

</head>

<body>
<!--
    v-for指令
        1.用于展示列表数据
        2.语法:v-for="item, index in xxx" :key="yyy"
        3.可遍历:数组、对象、字符串(用的很少)、指定次数(用的很少)
 -->
<!-- 准备好一个容器 -->
<!-- 遍历数组 -->
<div id="root">
    <ul>
        <h2>人员列表</h2>
        <li :key="index" v-for="(p,index) of persons">
            {{p.name}}-{{p.age}}
            <!-- {{p}}----{{index}} -->
        </li>
    </ul>
    <!-- 遍历对象 -->
    <ul>
        <h2>车辆列表</h2>
        <li :key="k" v-for="(value,k) of car">
            {{k}}-{{value}}
            <!-- {{p}}----{{index}} -->
        </li>
    </ul>
    <!-- 遍历字符串 -->
    <ul>
        <h2>字符串</h2>
        <li :key="index" v-for="(char,index) of str">
            {{char}}-{{index}}
            <!-- {{p}}----{{index}} -->
        </li>
    </ul>
    <!-- 遍历指定次数 -->
    <ul>
        <h2>指定次数</h2>
        <li :key="index" v-for="(number,index) of 5">
            {{index}}-{{number}}
            <!-- {{p}}----{{index}} -->
        </li>
    </ul>
</div>

<script>
    Vue.config.productionTip = false; //阻止vue在启动时生成生产提升

    new Vue({
        el: '#root',
        data: {
            persons: [
                {id: '001', name: '张三', age: 18},
                {id: '002', name: '李四', age: 19},
                {id: '003', name: '王五', age: 20}
            ],
            car: {
                name: '奥迪A8',
                price: '70W',
                color: '黑色',
            },
            str: 'HELLO'
        }
    })
</script>
</body>

</html>